* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

html, body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.3em;
    color: #000;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    letter-spacing: 0;
}

a {
    color: inherit;
    text-decoration: underline;
    transition: opacity .2s ease;
}
    a:hover {
        opacity: .6;
    }

main {
    z-index: 100;
    background: #fff;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 20rem;
}

figure {
    margin: 0 auto;
}

figure img {
    width: 100%;
    line-height: 0;
}

.work-title {
    font-size: 0.8em;
    font-family: 'Inter';
}

.work-category{
    display: none;
  }

.cat02 {
    width:20%;
    margin-bottom: 10vw;
  }

  .montreal {
    font-family: 'Playfair Display', serif;
    font-size: 4vw;
    margin-top: 1vw;
  }

.lazy {
    opacity: 0;
    -webkit-transform: translate3d(0, 3vw, 0);
    transform: translate3d(0, 5vh, 0);
    -webkit-transition: opacity 1s cubic-bezier(.59, .01, .28, 1), -webkit-transform 1s cubic-bezier(.59, .01, .28, 1);
    transition: opacity 1s cubic-bezier(.59, .01, .28, 1), -webkit-transform 1s cubic-bezier(.59, .01, .28, 1);
    transition: transform 1s cubic-bezier(.59, .01, .28, 1), opacity 1s cubic-bezier(.59, .01, .28, 1);
    transition: transform 1s cubic-bezier(.59, .01, .28, 1), opacity 1s cubic-bezier(.59, .01, .28, 1), -webkit-transform 1s cubic-bezier(.59, .01, .28, 1);
}

.lazy img {
    transform: scale(1.3); 
}

.in-view {
    opacity: 1;
    -webkit-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
}

.in-view img {
    transform: scale(1);
}

.content {
    width: 90vw;
    margin: 1rem auto;
}

.container {
    width: 100% !important;
    display: block;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}


.offset-2 {
    margin-left: 16.6666666667%;
}

.offset-3 {
    margin-left: 25%;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-self-baseline {
    align-self: baseline !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: .75rem !important;
}

.mt-2 {
    margin-top: 1.5rem !important;
}

.mt-3 {
    margin-top: 2.25rem !important;
}

.mt-4 {
    margin-top: 3rem !important;
}

.mt-5 {
    margin-top: 2rem !important;
}

.mt-6 {
    margin-top: 4.5rem !important;
}

.mt-7 {
    margin-top: 5.25rem !important;
}

.mt-8 {
    margin-top: 6rem !important;
}

.mt-9 {
    margin-top: 6.75rem !important;
}

.mt-10 {
    margin-top: 6rem !important;
}

.mb-1 {
    margin-bottom: 1rem;
}

.pt-5 {
    padding-top: 3rem !important;
}

.pt-10 {
    padding-top: 4rem !important;
}

.width-25,
.width-50,
.width-75,
.width-full {
    width: 100%;
}

.text-align-right {
    text-align: right;
}

.h1 {
    font-size: 1em;
    line-height: 1.2em;
    letter-spacing: -.035em;
}

.h3 {
    font-family: 'Neue Haas Unica Regular';
    margin-top: 2em;
}

.button-style {
    display: inline-block;
    line-height: 1em;
    border: 1px solid #bbb;
    border-radius: 2em;
    padding: .45em .75em .35em .75em;
    font-size: .55em;
    color: #bbb;
    vertical-align: text-bottom;
}

a.external-light::after,
a.external-dark::after {
    display: inline-block;
    position: relative;
    width: .55em;
    left: .2em;
    top: .01em;
}
a.external-light::after {
    content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012.686%2012.686'%3E%3Cpolygon%20points='1.348%200%201.348%201.32%2010.314%201.32%200%2011.634%201.052%2012.686%2011.366%202.373%2011.366%2011.339%2012.686%2011.339%2012.686%200%201.348%200'%20style='fill:%23000'/%3E%3C/svg%3E");
}
a.external-dark::after {
    content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012.686%2012.686'%3E%3Cpolygon%20points='1.348%200%201.348%201.32%2010.314%201.32%200%2011.634%201.052%2012.686%2011.366%202.373%2011.366%2011.339%2012.686%2011.339%2012.686%200%201.348%200'%20style='fill:%23ffffff'/%3E%3C/svg%3E");
}

.menu {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 200;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .5s cubic-bezier(.59, .01, .28, 1);
}
    .nav-desktop {
        list-style: none;
    }
        .nav-desktop li {
            display: inline-block;
            margin-left: 1.5em;
        }
    .menu .nav-desktop {
        display: none;
    }

#hamburger {
    position: fixed;
    top: 1.5vw;
    right: 0;
    z-index: 1000;
}

.nav-mobile {
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
    z-index: 500;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eb1010;
    transition: all .5s cubic-bezier(.59, .01, .28, 1);
}
    .nav-mobile nav {
        margin: 0;
        padding: 0;
        padding-top: .5rem;
        list-style: none;
    }
    .nav-mobile li {
        padding: .5rem 0;
        font-size: 2rem;
    }
    .nav-mobile .header {
        font-size: 1rem;
        padding: 1rem 0 .5rem 0;
    }
.nav-mobile.is-active {
    height: 23.25rem;
}

.work-thumb {
    display: block;
    margin: 2em auto;
    width: 85%;
}
.work-thumb article {
    position: relative;
}
    .work-thumb figure {
        overflow: hidden;
        box-sizing: border-box;
        line-height: 0;
        transition: transform .3s cubic-bezier(.25,.46,.45,.94);
    }
        .work-thumb figure img {
            transition: transform 1.5s ease, opacity .3s ease;
        }
    .work-thumb h1 {
        margin-top: 1rem;
        transition: all .3s ease;
    }
    .work-thumb p {
        display: none;
    }
    .work-thumb:hover {
        opacity: 1;
    }
        .work-thumb:hover figure {
            transform: scale(.98);
        }
        .work-thumb:hover figure img {
            transform: scale(1.03);
            opacity: .9;
        }
        .work-thumb:hover h1 {
            opacity: .5;
        }

#work-header {
    background-color: #000;
    height: 100vh;
    overflow: hidden;
    position: relative;
    opacity: 1;
    transition: height 1s ease, opacity 1s ease;
    will-change: height;
}
    #work-header img {
        object-fit: cover;
        width: 100%;
        height: 100% !important;
        object-position: 50% 50%;
    }

.work {
    margin-top: 0;
}
    .work h1,
    .work h2 {
        font-size: 2rem;
        line-height: 1em;
        letter-spacing: -.035em;
        margin-bottom: 1rem;
    }
    .work p + p {
        margin-top: 1em;
    }

    .work div p:last-child {
        margin-bottom: 5rem;
    }
    .work figure {
        margin-bottom: 1rem;
        overflow: hidden;
    }
    .work video {
        width: 100%;
    }

.credits {
    display: none;
    margin-top: -5rem;
    font-size: 16px;
    line-height: 1.4em;
    margin-bottom: 3rem;
}
    .credits ul {
        list-style: none;
    }
        .credits ul li span {
            font-family: 'Neue Haas Unica Regular';
        }
.credits-mobile {
    display: block;
}

.list {
    list-style: none;
}
    .list .item {
        background: #fff;
        border-top: 1px solid #eee;
        padding: 1vw 0;
        transition: transform .3s cubic-bezier(.59, .01, .28, 1),  opacity .3s cubic-bezier(.59, .01, .28, 1);
    }
        .list .item h3 {
            display: none;
        }
        .list .item .client {
            font-family: 'Neue Haas Unica Regular';
        }
    .list a {
        cursor: pointer !important;
    }
        .list a .item {
            cursor: pointer !important;
            -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
        }
        .list a .item::after {
            content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2018%2018'%3E%3Cpolygon%20points='10,1%209,1.9%2015.4,8.3%200.8,8.3%200.8,9.7%2015.4,9.7%209,16.1%2010,17%2018,9'%20style='fill:%23000'/%3E%3C/svg%3E");
            display: inline-block;
            position: absolute;
            height: 1rem;
            width: 1rem;
            bottom: .75rem;
            right: 0;
            transform: translateX(0);
            opacity: 1;
            transition: transform .3s cubic-bezier(.59, .01, .28, 1), opacity .3s cubic-bezier(.59, .01, .28, 1);
        }
        .list a .item.news::before {
            display: none !important;
        }
        .list a .item.news::after {
            content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012.686%2012.686'%3E%3Cpolygon%20points='1.348%200%201.348%201.32%2010.314%201.32%200%2011.634%201.052%2012.686%2011.366%202.373%2011.366%2011.339%2012.686%2011.339%2012.686%200%201.348%200'%20style='fill:%23000'/%3E%3C/svg%3E");
            display: inline-block;
            position: absolute;
            height: 1rem;
            width: 1rem;
            top: 1rem;
            right: .75rem;
            transform: translateX(0);
            transform: translate3d(0);
            opacity: 0;
            transition: transform .3s cubic-bezier(.59, .01, .28, 1), opacity .3s cubic-bezier(.59, .01, .28, 1);
        }
        .list a:hover .item {
            transform: translateX(.5vw);   
        }
        .list a:hover .item span {
            opacity: .4;
        }
        .list a:hover .item::after {
            transform: translateX(.25em);
        }
        .list a:hover .item.news::after {
            opacity: 1;
            transform: translate(.25em, -.25em);
        }
        .list .item .agency {
            order: 1;
            width: 50%;
        }
        .list .item .client {
            order: 3;
        }
        .list .item .type {
            order: 4;
            color: #aaa;
            margin-top: .25rem;
            margin-bottom: .25rem;
        }
        .list .item .type span {
            display: inline-block;
            border: 1px solid #bbb;
            border-radius: 2em;
            padding: .45em .75em .35em .75em;
            font-family: 'Neue Haas Unica Regular';
            font-size: .7em;
            line-height: 1em;
            color: #bbb;
            vertical-align: text-bottom;
        }
        .list .item .year {
            order: 2;
            width: 50%;
            text-align: right;
        }

.filters a {
    color: #ccc;
    transition: color .2s ease;
}
    .filters a::after {
        content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012.686%2012.686'%3E%3Cpolygon%20points='12.686%201.348%2011.366%201.348%2011.366%2010.314%201.052%200%200%201.052%2010.313%2011.366%201.347%2011.366%201.347%2012.686%2012.686%2012.686%2012.686%201.348'%20style='fill:%23000'/%3E%3C/svg%3E");
        display: inline-block;
        position: relative;
        width: .55em;
        top: -.25em;
        transition: all .2s ease;
        opacity: 0;
    }
    .filters a:hover {
        color: #000;
        opacity: 1;
    }
    .filters .active {
        color: #000;
    }
    .filters a.active::after,
    .filters a:hover::after {
        opacity: 1;
        transform: translate(.25em, .25em);
    }

#works-index.filter-branding .item,
#works-index.filter-packaging .item,
#works-index.filter-webdesign .item {
    color: #ccc;
    transition: all .3s cubic-bezier(.59, .01, .28, 1);
}
    #works-index.filter-branding .item.branding,
    #works-index.filter-packaging .item.packaging,
    #works-index.filter-webdesign .item.webdesign {
        color: #000 !important;
    }

/*.hide-on-mobile {
    display: none;
}
*/
footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: fixed;
    bottom: 0;
    color: #fff;
    background: #eb1010;
    z-index: 0;
    width: 100%;
}
    footer p {
        margin: .2em 0;
    }