* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

html, body {
  font-family: 'Inter', sans-serif;
  font-size: 1.3vw;
  line-height: 1.4em;
  color: rgb(36, 36, 36);
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0;
  
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity .2s ease;
}
  a:hover {
      opacity: .6;
  }

main {
  z-index: 100;
  background: #fff;
  position: relative;
  padding-bottom: 15vw;
  margin-bottom: 17.5vw;
}

figure {
  margin: 0 auto;
  
}

figure img {
  width: 100%;
  line-height: 0;
}

.cat02 {
  width:50%;
  margin-top: 1vw;
  margin-left: 5vw;
}

.work-with-us {
  padding: 0.5vw;
  border: 0.2vw solid black;
  border-radius: 50px;
}

.husband {
  text-decoration: underline;
}

.wife {
  text-decoration: underline;
}

.montreal {
  font-family: 'Playfair Display', serif;
  font-size: 2vw;
  margin-top: 3vw;
}

.work-title {
  font-weight:100;
  font-size: 0.8em;
}

.work-category{
  font-weight:100;
  font-size: 0.6em;
  line-height: 0em;
  color:rgb(145, 143, 143);
}

.container02 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5em;
  line-height: 1em;
  letter-spacing: -.035em;
}

.container02 h1 .name,
.container02 h1 .country {
  text-decoration: underline;
  cursor: pointer;
  
}

.container02 img {
  position: absolute;
  width: 15rem;
  transform: translate(-50%, -50%);
  display: none;
  pointer-events: none;
  z-index: -1;
  filter: grayscale(1);
}



.lazy {
  opacity: 0;
  -webkit-transform: translate3d(0, 3vw, 0);
  transform: translate3d(0, 3vw, 0);
  -webkit-transition: opacity 1s cubic-bezier(.59, .01, .28, 1), -webkit-transform 1s cubic-bezier(.59, .01, .28, 1);
  transition: opacity 1s cubic-bezier(.59, .01, .28, 1), -webkit-transform 1s cubic-bezier(.59, .01, .28, 1);
  transition: transform 1s cubic-bezier(.59, .01, .28, 1), opacity 1s cubic-bezier(.59, .01, .28, 1);
  transition: transform 1s cubic-bezier(.59, .01, .28, 1), opacity 1s cubic-bezier(.59, .01, .28, 1), -webkit-transform 1s cubic-bezier(.59, .01, .28, 1);
}

.lazy img {
  transform: scale(1.3); 
}


.in-view {
  opacity: 1;
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

.in-view img {
  transform: scale(1);
}

.content {
  margin: 1.25vw 1.5vw;
  width: 97vw;
}

.container {
  width: 100% !important;
  display: block;
}

.row {
  display: flex;
  width: 100%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.shift {
  margin-top: 5vh;
}

.justify-content-center {
justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.ml-1 {
  margin-left: 8.3333333333vw;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.mt-9 {
  margin-top: 9rem !important;
}

.mt-10 {
  margin-top: 10rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pt-10 {
  padding-top: 10rem !important;
}

.padding-s {
  padding: 1vw;
}

.width-25 {
  width: 25%;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.width-full {
  width: 100%;
}

.text-align-right {
  text-align: right;
}

.h1 {
  font-size: 3em;
  line-height: 1em;
  letter-spacing: -.035em;
}

.h3 {
  font-family: 'Neue Haas Unica Regular';
}

.button-style {
  display: inline-block;
  line-height: 1em;
  border: 1px solid #bbb;
  border-radius: 2em;
  padding: .45em .75em .35em .75em;
  font-size: .55em;
  color: #bbb;
  vertical-align: text-bottom;
}

a.external-light::after,
a.external-dark::after {
  display: inline-block;
  position: relative;
  width: .55em;
  left: .2em;
  top: .01em;
}
a.external-light::after {
  content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012.686%2012.686'%3E%3Cpolygon%20points='1.348%200%201.348%201.32%2010.314%201.32%200%2011.634%201.052%2012.686%2011.366%202.373%2011.366%2011.339%2012.686%2011.339%2012.686%200%201.348%200'%20style='fill:%23000'/%3E%3C/svg%3E");
}
a.external-dark::after {
  content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012.686%2012.686'%3E%3Cpolygon%20points='1.348%200%201.348%201.32%2010.314%201.32%200%2011.634%201.052%2012.686%2011.366%202.373%2011.366%2011.339%2012.686%2011.339%2012.686%200%201.348%200'%20style='fill:%23ffffff'/%3E%3C/svg%3E");
}

.menu {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 200;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color .5s cubic-bezier(.59, .01, .28, 1);
}
  .menu nav  {
      list-style: none;
  }
      .menu nav li {
          display: inline-block;
          margin-left: 1.5em;
      }

.nav-mobile {
  display: none;
}

#hamburger {
  display: none;
}

.work-thumb {
  display: block;
  margin: 0 auto;
}
.work-thumb article {
  position: relative;
  
}
  .work-thumb figure {
      overflow: hidden;
      box-sizing: border-box;
      line-height: 0;
      transition: transform .3s cubic-bezier(.25,.46,.45,.94);
      
  }
      .work-thumb figure img {
          transition: transform 1.5s ease, opacity .3s ease;
      }
  .work-thumb h1 {
      margin-top: 1vw;
      transition: opacity .3s ease;
  }
  .work-thumb p {
      opacity: 0;
      margin-top: .25vw; 
      font-size: max(1em, 15px);
      letter-spacing: .02em;
      transform: translateY(.5em);
      transition: all .3s ease;
  }
  .work-thumb:hover {
      opacity: 1;
  }
      .work-thumb:hover figure {
          transform: scale(.98);
      }
      .work-thumb:hover figure img {
          transform: scale(1.03);
          opacity: .9;
      }
      .work-thumb:hover h1 {
          opacity: .5;
      }
      .work-thumb:hover p {
          opacity: 1;
          transform: translateY(-0);
      }

#work-header {
  background-color: #000;
  height: 100vh;
  overflow: hidden;
  position: relative;
  opacity: 1;
  transition: height 1s ease, opacity 1s ease;
  will-change: height;
}


  #work-header img {
      object-fit: cover;
      width: 100%;
      height: 100% !important;
      object-position: 50% 50%;
  }

  #work-header video {
    object-fit: cover;
    width: 100%;
    height: 100% !important;
    object-position: 10% 50%;
}

.credits {
  font-size: 16px;
  line-height: 1.4em;
  margin-top: 0.8em;
}
  .credits ul {
      list-style: none;
  }
      .credits ul li span {
          font-family: 'Neue Haas Unica Regular';
      }
.credits-mobile {
  display: none;
}


.work {
  margin-top: 1rem;
}
  .work h1,
  .work h2 {
      font-size: 3.375em;
      line-height: 1em;
      letter-spacing: -.035em;
      margin-bottom: .5em;
  }
  .work h1 {
      margin-bottom: 5rem;
  }
  .work p {
      font-size: 1.4em;
      line-height: 1.4em;
      color: #222;
      margin-bottom: 1em;
  }
  .work div p:last-child {
      margin-bottom: 10rem;
  }
  .work figure {
      margin-bottom: 10rem;
      overflow: hidden;
  }
  .work video {
      width: 100%;
  }

.list {
  list-style: none;
}
  .list .item {
      position: relative;
      background: #fff;
      border-bottom: 1px solid #eee;
      padding: 1vw 0;
      transition: border-bottom-color .3s cubic-bezier(.59, .01, .28, 1);
  }
  .list a {
      cursor: pointer !important;
  }
      .list a .item {
          cursor: pointer !important;
          -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
      }
      .list a .item.index::after {
          content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2018%2018'%3E%3Cpolygon%20points='10,1%209,1.9%2015.4,8.3%200.8,8.3%200.8,9.7%2015.4,9.7%209,16.1%2010,17%2018,9'%20style='fill:%23000'/%3E%3C/svg%3E");
          display: inline-block;
          position: absolute;
          height: 1.25em;
          width: 1.25em;
          top: .75em;
          right: 0.75em;
          transform: translateX(-.5vw);
          opacity: 0;
          transition: transform .3s cubic-bezier(.59, .01, .28, 1), opacity .3s cubic-bezier(.59, .01, .28, 1);
      }
      .list a .item.news::after {
          content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012.686%2012.686'%3E%3Cpolygon%20points='1.348%200%201.348%201.32%2010.314%201.32%200%2011.634%201.052%2012.686%2011.366%202.373%2011.366%2011.339%2012.686%2011.339%2012.686%200%201.348%200'%20style='fill:%23000'/%3E%3C/svg%3E");
          display: inline-block;
          position: absolute;
          height: 1.25em;
          width: 1.25em;
          top: 1em;
          right: .75em;
          transform: translateX(0);
          transform: translate3d(0);
          opacity: 0;
          transition: transform .3s cubic-bezier(.59, .01, .28, 1), opacity .3s cubic-bezier(.59, .01, .28, 1);
      }
      .list a .item span {
          transition: transform .3s cubic-bezier(.59, .01, .28, 1), opacity .3s cubic-bezier(.59, .01, .28, 1);
      }
      .list a .item.news span {
          margin-right: 1em;
      }
      .list a .item .button-style {
          transition: color .3s cubic-bezier(.59, .01, .28, 1), border .3s cubic-bezier(.59, .01, .28, 1);
      }
      .list a:hover .item {
          border-bottom: 1px solid #000;  
      }
      .list a:hover .item .button-style {
          border: 1px solid #000;
          color: #000;
      }
      .list a:hover .item.index::after {
          opacity: 1;
          transform: translateX(0);
      }
      .list a:hover .item.news::after {
          opacity: 1;
          transform: translate(.25em, -.25em);
      }
      .list .item .type span::after {
          content: " +";
      }
      .list .item .type span:last-child::after {
          content: "";
      }



.filters a {
  color: #ccc;
  transition: color .2s ease;
}
  .filters a::after {
      content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012.686%2012.686'%3E%3Cpolygon%20points='12.686%201.348%2011.366%201.348%2011.366%2010.314%201.052%200%200%201.052%2010.313%2011.366%201.347%2011.366%201.347%2012.686%2012.686%2012.686%2012.686%201.348'%20style='fill:%23000'/%3E%3C/svg%3E");
      display: inline-block;
      position: relative;
      width: .55em;
      top: -.25em;
      transition: all .2s ease;
      opacity: 0;
  }
  .filters a:hover {
      color: #000;
      opacity: 1;
  }
  .filters .active {
      color: #000;
  }
  .filters a.active::after,
  .filters a:hover::after {
      opacity: 1;
      transform: translate(.25em, .25em);
  }

#works-index.filter-branding .item,
#works-index.filter-packaging .item,
#works-index.filter-webdesign .item {
  color: #ccc;
  transition: all .3s cubic-bezier(.59, .01, .28, 1);
}
  #works-index.filter-branding .item.branding,
  #works-index.filter-packaging .item.packaging,
  #works-index.filter-webdesign .item.webdesign {
      color: #000 !important;
  }

footer {
  padding-top: 2vw;
  padding-bottom: 2vw;
  position: fixed;
  bottom: 0;
  color: #fff;
  background: #eb1010;
  z-index: 0;
  width: 100%;
}
  footer p {
      margin: .2em 0;
  }